.calculator {
  background-color: beige;
  width: 390px;
  height: 350px;
  border: 5px dotted burlywood;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.numbers {
  width: 300px;
  height: 300px
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
}
.operators {
  width: 70px;
  height: 280px;
  display: flex;
  flex-direction: column-reverse;
}

#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#button7,
#button8,
#button9 {
  margin: 10px;
  width: 75px;
  height: 75px;
  color: brown;
  background-color: cornsilk;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

#button0 {
  margin: 7px;
  width: 70px;
  height: 70px;
  color: brown;
  background-color: cornsilk;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

#plus,
#minus,
#divide,
#multiply {
  margin: 7px;
  width: 70px;
  height: 30px;
  color: brown;
  background-color: yellow;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

#equals {
  margin: 7px;
  width: 70px;
  height: 30px;
  color: brown;
  background-color: green;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.result {
  height: 70px;
  width: 350px;
  margin: 15px;
  border: 2px solid blue;
  background-color: lightblue;
}