.one__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgrey;
  margin: 5px;
  border-radius: 10px;
}

img {
  width: 10%;
  border-radius: 50%;
  padding: 5px
}

.name {
  padding-left: 10px;
  width: 40%;
  font-weight: bold;
}

.number {
  width: 50%;
}